.todo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 20px;
}

.todo-container * {
    margin: 10px;
}